# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# Node
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
.env

# OS
.DS_Store
